<a href="https://colab.research.google.com/github/hxnnahc/Penang-Covid19-testAnalysis/blob/main/Penang_Covid19_testAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Introduction: Penang Covid-19 Test Analysis**

> This is a test analysis of the Covid-19 situation in Penang, Malaysia. We will be using the official Covid-19 public dataset provided by MoH. As a start, we will import *cases_state.csv* and *deaths_state.csv* and work with these two datasets. We will also import *clusters.csv* and *tests_state.csv* which will be used in a later analysis. These datasets are updated daily and can be found [here](https://github.com/MoH-Malaysia/covid19-public/tree/main/epidemic).

In [6]:
df1 = pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/cases_state.csv')

df1

            date              state  cases_new  cases_import  cases_recovered
0     2020-01-25              Johor          4             4              0.0
1     2020-01-25              Kedah          0             0              0.0
2     2020-01-25           Kelantan          0             0              0.0
3     2020-01-25             Melaka          0             0              0.0
4     2020-01-25    Negeri Sembilan          0             0              0.0
...          ...                ...        ...           ...              ...
9323  2021-08-29           Selangor       4591             0              NaN
9324  2021-08-29         Terengganu        789             0              NaN
9325  2021-08-29  W.P. Kuala Lumpur        680             5              NaN
9326  2021-08-29        W.P. Labuan          2             1              NaN
9327  2021-08-29     W.P. Putrajaya         48             0              NaN

[9328 rows x 5 columns]

In [7]:
df2 = pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/deaths_state.csv')

df2

            date              state  deaths_new  deaths_bid
0     2020-03-17              Johor           1         NaN
1     2020-03-17              Kedah           0         NaN
2     2020-03-17           Kelantan           0         NaN
3     2020-03-17             Melaka           0         NaN
4     2020-03-17    Negeri Sembilan           0         NaN
...          ...                ...         ...         ...
8491  2021-08-29           Selangor         110         NaN
8492  2021-08-29         Terengganu           7         NaN
8493  2021-08-29  W.P. Kuala Lumpur          22         NaN
8494  2021-08-29        W.P. Labuan           0         NaN
8495  2021-08-29     W.P. Putrajaya           0         NaN

[8496 rows x 4 columns]

In [ ]:
df_clusters = pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/clusters.csv')

df_clusters

In [ ]:
df_tests = pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/tests_state.csv')

df_tests

> For now, we will look at *df1*, which is the cases_state.csv dataset.

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             9328 non-null   object
 1   state            9328 non-null   object
 2   cases_new        9328 non-null   int64
 3   cases_import     9328 non-null   int64
 4   cases_recovered  9296 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 364.5+ KB

In [11]:
print('Overview of cases_state.csv dataset provided by MoH\n')
print('The number of rows:', df1.shape[0])
print('The number of columns:', df1.shape[1])
print(' -'*25)
print('Attribute for each columns:\n')
print(df1.columns)
print(' -'*25)
print('Total null values:\n')
c = df1.isnull().sum()
print(c)

Overview of cases_state.csv dataset provided by MoH

The number of rows: 9328
The number of columns: 5
 - - - - - - - - - - - - - - - - - - - - - - - - -
Attribute for each columns:

Index(['date', 'state', 'cases_new', 'cases_import', 'cases_recovered'], dtype='object')
 - - - - - - - - - - - - - - - - - - - - - - - - -
Total null values:

date                0
state               0
cases_new           0
cases_import        0
cases_recovered    32
dtype: int64

> Here is *df2*, which is the deaths_state.csv dataset.

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8496 entries, 0 to 8495
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        8496 non-null   object
 1   state       8496 non-null   object
 2   deaths_new  8496 non-null   int64
 3   deaths_bid  4736 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 265.6+ KB

In [13]:
print('Overview of deaths_state.csv dataset provided by MoH\n')
print('The number of rows:', df2.shape[0])
print('The number of columns:', df2.shape[1])
print(' -'*25)
print('Attribute for each columns:\n')
print(df2.columns)
print(' -'*25)
print('Total null values:\n')
c = df2.isnull().sum()
print(c)

Overview of deaths_state.csv dataset provided by MoH

The number of rows: 8496
The number of columns: 4
 - - - - - - - - - - - - - - - - - - - - - - - - -
Attribute for each columns:

Index(['date', 'state', 'deaths_new', 'deaths_bid'], dtype='object')
 - - - - - - - - - - - - - - - - - - - - - - - - -
Total null values:

date             0
state            0
deaths_new       0
deaths_bid    3760
dtype: int64

**Part 1: Data Cleaning**
> The current data frame contains more data than we need. Before we proceed with the analysis, we will be parsing through the data and extract only data that contains the string, 'Pulau Pinang'.

In [14]:
df1 = df1[df1['state'].str.contains('Pulau Pinang')]      # This refers to cases_state.csv

df1

            date         state  cases_new  cases_import  cases_recovered
6     2020-01-25  Pulau Pinang          0             0              0.0
22    2020-01-26  Pulau Pinang          0             0              0.0
38    2020-01-27  Pulau Pinang          0             0              0.0
54    2020-01-28  Pulau Pinang          0             0              0.0
70    2020-01-29  Pulau Pinang          0             0              0.0
...          ...           ...        ...           ...              ...
9256  2021-08-25  Pulau Pinang       1427             0           1357.0
9272  2021-08-26  Pulau Pinang       2078             0           1298.0
9288  2021-08-27  Pulau Pinang       1829             0              NaN
9304  2021-08-28  Pulau Pinang       1920             0           1128.0
9320  2021-08-29  Pulau Pinang       1378             0              NaN

[583 rows x 5 columns]

In [15]:
df2 = df2[df2['state'].str.contains('Pulau Pinang')]      # This refers to deaths_state.csv

df2

            date         state  deaths_new  deaths_bid
8     2020-03-17  Pulau Pinang           0         NaN
24    2020-03-18  Pulau Pinang           0         NaN
40    2020-03-19  Pulau Pinang           0         NaN
56    2020-03-20  Pulau Pinang           0         NaN
72    2020-03-21  Pulau Pinang           0         NaN
...          ...           ...         ...         ...
8424  2021-08-25  Pulau Pinang          18         5.0
8440  2021-08-26  Pulau Pinang          31         7.0
8456  2021-08-27  Pulau Pinang          38        10.0
8472  2021-08-28  Pulau Pinang          17         4.0
8488  2021-08-29  Pulau Pinang          16         NaN

[531 rows x 4 columns]

> Use a left join to join both *df1* and df2 and assign it to *df_cases*. We will use the new data frame for the analysis.

In [16]:
df_cases = pd.merge(df1, df2, on='date', how='left')

df_cases

           date       state_x  cases_new  ...       state_y  deaths_new deaths_bid
0    2020-01-25  Pulau Pinang          0  ...           NaN         NaN        NaN
1    2020-01-26  Pulau Pinang          0  ...           NaN         NaN        NaN
2    2020-01-27  Pulau Pinang          0  ...           NaN         NaN        NaN
3    2020-01-28  Pulau Pinang          0  ...           NaN         NaN        NaN
4    2020-01-29  Pulau Pinang          0  ...           NaN         NaN        NaN
..          ...           ...        ...  ...           ...         ...        ...
578  2021-08-25  Pulau Pinang       1427  ...  Pulau Pinang        18.0        5.0
579  2021-08-26  Pulau Pinang       2078  ...  Pulau Pinang        31.0        7.0
580  2021-08-27  Pulau Pinang       1829  ...  Pulau Pinang        38.0       10.0
581  2021-08-28  Pulau Pinang       1920  ...  Pulau Pinang        17.0        4.0
582  2021-08-29  Pulau Pinang       1378  ...  Pulau Pinang        16.0        NaN

[583 rows x 8 columns]

In [17]:
# These are the columns we will use in the analysis.
df_cases = df_cases[['date', 'state_x', 'cases_new', 'cases_import', 'cases_recovered', 'deaths_new']]       

df_cases

           date       state_x  ...  cases_recovered  deaths_new
0    2020-01-25  Pulau Pinang  ...              0.0         NaN
1    2020-01-26  Pulau Pinang  ...              0.0         NaN
2    2020-01-27  Pulau Pinang  ...              0.0         NaN
3    2020-01-28  Pulau Pinang  ...              0.0         NaN
4    2020-01-29  Pulau Pinang  ...              0.0         NaN
..          ...           ...  ...              ...         ...
578  2021-08-25  Pulau Pinang  ...           1357.0        18.0
579  2021-08-26  Pulau Pinang  ...           1298.0        31.0
580  2021-08-27  Pulau Pinang  ...              NaN        38.0
581  2021-08-28  Pulau Pinang  ...           1128.0        17.0
582  2021-08-29  Pulau Pinang  ...              NaN        16.0

[583 rows x 6 columns]

> Here, we attempt to beautify the data by renaming the column names as well as changing the attribute 'Pulau Pinang' to 'Penang'. We will retain the 'State' column to maintain the clarity of the data frame.

In [18]:
df_cases = df_cases.rename(columns={'state_x':'State', 'cases_new':'New Cases', 'cases_import':'Imported Cases', 'cases_recovered':'Recovered', 'deaths_new':'Deaths'}, inplace=False)

df_cases

           date         State  New Cases  Imported Cases  Recovered  Deaths
0    2020-01-25  Pulau Pinang          0               0        0.0     NaN
1    2020-01-26  Pulau Pinang          0               0        0.0     NaN
2    2020-01-27  Pulau Pinang          0               0        0.0     NaN
3    2020-01-28  Pulau Pinang          0               0        0.0     NaN
4    2020-01-29  Pulau Pinang          0               0        0.0     NaN
..          ...           ...        ...             ...        ...     ...
578  2021-08-25  Pulau Pinang       1427               0     1357.0    18.0
579  2021-08-26  Pulau Pinang       2078               0     1298.0    31.0
580  2021-08-27  Pulau Pinang       1829               0        NaN    38.0
581  2021-08-28  Pulau Pinang       1920               0     1128.0    17.0
582  2021-08-29  Pulau Pinang       1378               0        NaN    16.0

[583 rows x 6 columns]

In [19]:
# This function replaces 'Pulau Pinang' with 'Penang', which serves purely for aesthetic purposes.
def name_change(self):      
  name = self.replace('Pulau Pinang', 'Penang')
  return name

In [20]:
df_cases['State'] = df_cases['State'].apply(name_change)

df_cases

           date   State  New Cases  Imported Cases  Recovered  Deaths
0    2020-01-25  Penang          0               0        0.0     NaN
1    2020-01-26  Penang          0               0        0.0     NaN
2    2020-01-27  Penang          0               0        0.0     NaN
3    2020-01-28  Penang          0               0        0.0     NaN
4    2020-01-29  Penang          0               0        0.0     NaN
..          ...     ...        ...             ...        ...     ...
578  2021-08-25  Penang       1427               0     1357.0    18.0
579  2021-08-26  Penang       2078               0     1298.0    31.0
580  2021-08-27  Penang       1829               0        NaN    38.0
581  2021-08-28  Penang       1920               0     1128.0    17.0
582  2021-08-29  Penang       1378               0        NaN    16.0

[583 rows x 6 columns]

> Set the 'date' column as index and convert it to DateTimeIndex.

In [21]:
df_cases.set_index('date', inplace=True)

df_cases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 583 entries, 2020-01-25 to 2021-08-29
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           583 non-null    object
 1   New Cases       583 non-null    int64
 2   Imported Cases  583 non-null    int64
 3   Recovered       581 non-null    float64
 4   Deaths          531 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 27.3+ KB

In [22]:
df_cases.index = pd.to_datetime(df_cases.index)
df_cases.index

DatetimeIndex(['2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
               '2020-02-02', '2020-02-03',
               ...
               '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23',
               '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27',
               '2021-08-28', '2021-08-29'],
              dtype='datetime64[ns]', name='date', length=583, freq=None)

> Finally, check and replace any null values with 0.

In [23]:
df_cases['Recovered'] = df_cases['Recovered'].fillna(0)   

df_cases['Deaths'] = df_cases['Deaths'].fillna(0)

In [24]:
df_cases.isnull().sum()

State             0
New Cases         0
Imported Cases    0
Recovered         0
Deaths            0
dtype: int64

**Part 2: Data Analysis**
> We will be using the *df_cases* data frame to perform various analyses, starting with a simple line chart using the *bokeh* tool.

In [25]:
df_cases

             State  New Cases  Imported Cases  Recovered  Deaths
date
2020-01-25  Penang          0               0        0.0     0.0
2020-01-26  Penang          0               0        0.0     0.0
2020-01-27  Penang          0               0        0.0     0.0
2020-01-28  Penang          0               0        0.0     0.0
2020-01-29  Penang          0               0        0.0     0.0
...            ...        ...             ...        ...     ...
2021-08-25  Penang       1427               0     1357.0    18.0
2021-08-26  Penang       2078               0     1298.0    31.0
2021-08-27  Penang       1829               0        0.0    38.0
2021-08-28  Penang       1920               0     1128.0    17.0
2021-08-29  Penang       1378               0        0.0    16.0

[583 rows x 5 columns]

In [26]:
df_cases.describe()

         New Cases  Imported Cases    Recovered      Deaths
count   583.000000      583.000000   583.000000  583.000000
mean    142.331046        0.078902    87.576329    0.994854
std     301.389859        0.491107   187.663699    3.633319
min       0.000000        0.000000     0.000000    0.000000
25%       0.000000        0.000000     0.000000    0.000000
50%      26.000000        0.000000    13.000000    0.000000
75%     147.000000        0.000000    90.500000    0.000000
max    2078.000000        8.000000  1486.000000   38.000000

> Using the *bokeh* tool, we will plot a simple line chart to visualize the movement of *new cases vs. recoveries vs. deaths per day*.

In [27]:
from bokeh.io import output_notebook
from bokeh.plotting import figure, show
from bokeh.models import Legend
output_notebook()

In [28]:
p = figure(title='New Cases vs. Recoveries vs. Deaths Per Day', x_axis_label='Date', x_axis_type='datetime', y_axis_label='Number of Cases', height=500, width=800)
p.add_layout(Legend(), 'right')
x = df_cases.index
y1 = df_cases['New Cases']
y2 = df_cases['Recovered']
y3 = df_cases['Deaths']
p.line(x, y1, legend_label='New Cases', line_color='blue', line_width=2)
p.line(x, y2, legend_label='Recovered', line_color='orange', line_width=2)
p.line(x, y3, legend_label='Deaths', line_color='red', line_width=2)
show(p)

In [29]:
df_cases.to_csv('penang_covid19_cases.csv')